header.top
	min-height:130px
	
div.headline
	background-color: black
	background-repeat:repeat-x
	background-size:contain
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 1
	opacity: 0.3
	height: 25px

div.footline
	position: fixed
	bottom: 0
	left: 0
	right: 0
	opacity: .9
	z-index: 1
	height:40px
	background-image: url('images/bot_bg.png')
	background-size: contain
	background-repeat: repeat-x

div.backimg
	background-image:url('images/back.jpg')
	background-repeat:no-repeat
	background-size:cover
	background-position:left bottom
	position:fixed
	top:0
	bottom:0
	left:0
	right:0
	z-index:-2

div.backnoise
	position:fixed
	top:0
	left:0
	right:0
	bottom:0
	z-index:-1
	background-position:left top
	background-repeat:repeat
	background-image:url('images/picefct.png')
